<div class="row top-header">
  <div class="col-md-3 col-md-offset-9 text-right">
    <%= link_to 'Show Tour', @tour, :class => "btn btn-primary" %>
    <%= link_to 'Back to Tour', tours_path, :class => "btn btn-primary" %>
  </div>
</div>
<h2 class="text-center">Edit Tour</h2>

<%= render 'form' %>
