<div class="row top-header">
  <div class="col-md-3 col-md-offset-9 text-right">
    <%= link_to 'Back to Tour', tours_path, :class => "btn btn-primary" %>
  </div>
</div>
<h2 class="text-center">Create a new Tour</h2>
<%= render 'form' %>

