<div class="main_section">
  <div class="row top-header">
    <div class="col-md-4 col-md-offset-8 text-right">
  <%= link_to 'Show tourguide', @tourguide, :class => "btn btn-primary" %>
      <%= link_to 'Back to tourguide', tourguides_path, :class => "btn btn-primary" %>
    </div>
  </div>
  <h2 class="text-center">Edit Tourguide</h2>

  <%= render 'form' %>

</div>
